---
// components/SimpleForm.astro
import { FORM_FIELDS } from "../types/simple-form";
---

<form 
  hx-post="/api/signup"
  hx-swap="outerHTML"
>
  {Object.entries(FORM_FIELDS).map(([name, field]) => (
    <div>
      <label for={name}>
        {field.label}
      </label>
      <input
        type="text"
        id={name}
        name={name}
        placeholder={field.placeholder}
      />
    </div>
  ))}

  <button type="submit">
    Submit
  </button>
</form>